<!DOCTYPE html>
<html>
<head>
<title>Welcome to Vote</title>
</head>

<body>

<form action="/vote" method="POST" id="voteform">
 
 <fieldset>
 	<legend>Vote Here:</legend>
  <p>
  <label for="TDP">TDP</label>
  <input type="radio" name="votes" value="TDP"><br>
  </p>
  
  <p>
  <label for="YCP">YCP</label>
  <input type="radio" name="votes" value="YCP"><br>
  </p>
  
  <p>
  <label for="BJP">BJP</label>
  <input type="radio" name="votes" value="BJP"><br>
  </p>
  
  <p>
  <label for="CON">CON</label>
  <input type="radio" name="votes" value="CON"><br>
  </p>
  
  <input type=Submit value="vote">

 </fieldset>

</form>

</body>
</html>